Pipelines/Secure Connections/PL_IE_Secure_Endpoint_Failed.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "WebActivity",
        "typeProperties": {
          "method": "GET",
          "relativeUrl": "/rti-client-id/b70776af68f14b3391c2c6844c1ac9d4?api-version=7.0",
          "headers": {}
        },
        "externalReferences": {
          "connection": "3b490f00-3fa0-4aca-bb27-4be752009bce"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": true
        },
        "name": "Web Get AKV Client ID",
        "dependsOn": []
      },
      {
        "type": "WebActivity",
        "typeProperties": {
          "method": "GET",
          "relativeUrl": "/rti-client-secret/86bb50776c5449efac921ae32fb04d50?api-version=7.0",
          "headers": {}
        },
        "externalReferences": {
          "connection": "3b490f00-3fa0-4aca-bb27-4be752009bce"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": true
        },
        "name": "Web Get AKV Secret",
        "dependsOn": []
      },
      {
        "type": "WebActivity",
        "typeProperties": {
          "method": "POST",
          "headers": {
            "Content-Type": "application/x-www-form-urlencoded"
          },
          "body": {
            "value": "@concat('grant_type=client_credentials',\n'&resource=https://eventhubs.azure.net',\n'&client_id=',\nactivity('Web Get AKV Client ID').output.value,\n'&client_secret=',\nactivity('Web Get AKV Secret').output.value\n)",
            "type": "Expression"
          }
        },
        "externalReferences": {
          "connection": "95c0b3a5-b186-45e7-bbe1-b21a08f39197"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": true,
          "secureOutput": true
        },
        "name": "Web Get Eventhub Token",
        "dependsOn": [
          {
            "activity": "Web Get AKV Client ID",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Web Get AKV Secret",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "WebActivity",
        "typeProperties": {
          "method": "POST",
          "relativeUrl": "/es_2b7ae6e6-e903-4759-a37a-500d3036d8d3/messages",
          "headers": {
            "Authorization": {
              "value": "@concat('Bearer ',\nactivity('Web Get Eventhub Token').output.access_token   \n)",
              "type": "Expression"
            },
            "Content-Type": "application/atom+xml;type=entry;charset=utf-8"
          },
          "body": {
            "value": "@concat('{',\n'\"ItemWorkspaceID\": \"', pipeline().parameters.ItemWorkspaceID, '\", ',\n'\"ItemWorkspaceName\": \"', pipeline().parameters.ItemWorkspaceName, '\", ',\n'\"ItemID\": \"', pipeline().parameters.ItemID, '\", ',\n'\"ItemName\": \"', pipeline().parameters.ItemName, '\", ',\n'\"ItemType\": \"', pipeline().parameters.ItemType, '\", ',\n'\"ItemGroupID\": \"', pipeline().parameters.ItemGroupID, '\", ',\n'\"ItemRunID\": \"', pipeline().parameters.ItemRunID, '\", ',\n'\"ItemRunStatus\": \"', variables('v_status'), '\", ',\n'\"ItemFolderPath\": \"', pipeline().parameters.ItemFolderPath, '\", ',\n'\"ParentItemID\": \"', pipeline().parameters.ParentItemID, '\", ',\n'\"ParentItemName\": \"', pipeline().parameters.ParentItemName, '\", ',\n'\"ParentItemRunID\": \"', pipeline().parameters.ParentItemRunID, '\", ',\n'\"EventDateTime\": \"', utcNow(), '\", ',\n'\"TriggerID\": \"', pipeline().parameters.TriggerID, '\", ',\n'\"TriggerName\": \"', pipeline().parameters.TriggerName, '\", ',\n'\"TriggerType\": \"', pipeline().parameters.TriggerType, '\", ',\n'\"TriggerDateTime\": \"', pipeline().parameters.TriggerDateTime, '\", ',\n'\"TriggerEventSource\": \"', pipeline().parameters.TriggerEventSource, '\", ',\n'\"TriggerEventSubject\": \"', pipeline().parameters.TriggerEventSubject, '\", ',\n'\"TriggerFileName\": \"', pipeline().parameters.TriggerFileName, '\", ',\n'\"TriggerFolderPath\": \"', pipeline().parameters.TriggerFolderPath, '\", ',\n'\"AlertToTeamsGroupID\": \"', pipeline().parameters.AlertToTeamsGroupID, '\", ',\n'\"AlertToTeamsChannelID\": \"', pipeline().parameters.AlertToTeamsChannelID, '\", ',\n'\"AlertToEmail\": \"', pipeline().parameters.AlertToEmail, '\", ',\n'\"ExecutionErrorMessage\": \"', pipeline().parameters.ExecutionErrorMessage, '\", ',\n'\"CreatedBy\": \"', pipeline().parameters.CreatedBy, '\", ',\n'\"CreatedDateTime\": \"', pipeline().parameters.CreatedDateTime,  '\"',\n'}')",
            "type": "Expression"
          }
        },
        "externalReferences": {
          "connection": "9c2d359a-2f08-4570-a747-2b422e5abc5b"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": true,
          "secureOutput": true
        },
        "name": "Web Send To Evenstream Endpoint",
        "dependsOn": [
          {
            "activity": "Web Get Eventhub Token",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "v_send_email",
          "value": {
            "value": "@not(equals(pipeline().parameters.AlertToEmail,null))",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Check If Send Email",
        "dependsOn": []
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "v_send_teams_message",
          "value": {
            "value": "@and(\r\n      not(equals(pipeline().parameters.AlertToTeamsGroupID,null)),\r\n      not(equals(pipeline().parameters.AlertToTeamsChannelID,null))\r\n    )",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Check If Send Teams Message",
        "dependsOn": []
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@or(variables('v_send_email'), variables('v_send_teams_message'))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "ExecutePipeline",
              "typeProperties": {
                "pipeline": {
                  "referenceName": "24736895-d243-8744-4739-ebf43a764bf9",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "p_send_email": {
                    "value": "@variables('v_send_email')",
                    "type": "Expression"
                  },
                  "p_send_teams_message": {
                    "value": "@variables('v_send_teams_message')",
                    "type": "Expression"
                  },
                  "p_pipeline_run_id": {
                    "value": "@pipeline().parameters.ItemRunID",
                    "type": "Expression"
                  },
                  "p_pipeline_status": {
                    "value": "@variables('v_status')",
                    "type": "Expression"
                  },
                  "p_alert_email": {
                    "value": "@pipeline().parameters.AlertToEmail",
                    "type": "Expression"
                  },
                  "p_alert_teams_group_id": {
                    "value": "@pipeline().parameters.AlertToTeamsGroupID",
                    "type": "Expression"
                  },
                  "p_alert_teams_channel_id": {
                    "value": "@pipeline().parameters.AlertToTeamsChannelID",
                    "type": "Expression"
                  },
                  "NotificationError": {
                    "value": "@variables('NotificationErrorMessageRefined')",
                    "type": "Expression"
                  },
                  "FailingObject": {
                    "value": "@pipeline().parameters.FailingObject",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              },
              "policy": {
                "secureInput": false
              },
              "name": "Send Notification",
              "dependsOn": []
            }
          ],
          "ifFalseActivities": []
        },
        "name": "If Condition1",
        "dependsOn": [
          {
            "activity": "Web Send To Evenstream Endpoint",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Check If Send Teams Message",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Check If Send Email",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Format_Error",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "NotificationErrorMessage",
          "value": {
            "value": "@pipeline().parameters.NotificationError",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set Notification Error",
        "dependsOn": []
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "NotificationErrorMessageRefined",
          "value": {
            "value": "@replace(replace(replace(replace(variables('NotificationErrorMessage'), \n'\\', '\\\\'), '\"', '\\\"'), '\\r', '\\\\r'), '\\n', '\\\\n')\n",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Format_Error",
        "description": "escapes \"/n\", \"/r\", \"//\"",
        "dependsOn": [
          {
            "activity": "Set Notification Error",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "ItemWorkspaceID": {
        "type": "string"
      },
      "ItemID": {
        "type": "string"
      },
      "ItemName": {
        "type": "string"
      },
      "ItemType": {
        "type": "string"
      },
      "ItemGroupID": {
        "type": "string"
      },
      "ItemRunID": {
        "type": "string"
      },
      "ItemFolderPath": {
        "type": "string"
      },
      "ParentItemID": {
        "type": "string"
      },
      "ParentItemName": {
        "type": "string"
      },
      "ParentItemRunID": {
        "type": "string"
      },
      "TriggerID": {
        "type": "string"
      },
      "TriggerName": {
        "type": "string"
      },
      "TriggerType": {
        "type": "string"
      },
      "TriggerDateTime": {
        "type": "string"
      },
      "TriggerEventSource": {
        "type": "string"
      },
      "TriggerEventSubject": {
        "type": "string"
      },
      "TriggerFileName": {
        "type": "string"
      },
      "TriggerFolderPath": {
        "type": "string"
      },
      "AlertToTeamsGroupID": {
        "type": "string"
      },
      "AlertToTeamsChannelID": {
        "type": "string"
      },
      "AlertToEmail": {
        "type": "string"
      },
      "CreatedBy": {
        "type": "string"
      },
      "CreatedDateTime": {
        "type": "string"
      },
      "ItemWorkspaceName": {
        "type": "string"
      },
      "ExecutionErrorMessage": {
        "type": "string"
      },
      "NotificationError": {
        "type": "string"
      },
      "FailingObject": {
        "type": "string"
      }
    },
    "variables": {
      "v_send_email": {
        "type": "Boolean",
        "defaultValue": false
      },
      "v_send_teams_message": {
        "type": "Boolean",
        "defaultValue": false
      },
      "v_status": {
        "type": "String",
        "defaultValue": "Failed"
      },
      "NotificationErrorMessage": {
        "type": "String"
      },
      "NotificationErrorMessageRefined": {
        "type": "String"
      }
    }
  }
}